<div>
  <h2>Ingrese el código para reproducir el video:</h2>
  <input [(ngModel)]="code" placeholder="Ingrese el código" />
  <button (click)="validateCode()">Validar Código</button>

  <div *ngIf="validVideo" class="video-player">
    <h3>Video Seleccionado</h3>
    <iframe
      [src]="'https://www.youtube.com/embed/' + validVideo"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>
